
[package]
authors = ["Christian Schilling <christian.schilling@esrlabs.com>"]
description = "GIT virtualization proxy"
edition = "2018"
keywords = ["git", "monorepo", "workflow", "scm"]
license-file = "LICENSE"
name = "josh-proxy"
readme = "README.md"
repository = "https://github.com/josh-project/josh"
version = "22.4.15"


[dependencies]
base64 = "0.20.0"
clap = "4.0.29"
futures = "0.3.25"
hyper = { version = "0.14.23", features = ["stream"] }
hyper-reverse-proxy = "0.5.1"
hyper-staticfile = "0.9.2"
hyper-tls = "0.5.0"
hyper_cgi = {path = "../hyper_cgi"}
indoc = "1.0.7"
josh = {path = ".." }
lazy_static = "1.4.0"
opentelemetry = "0.18.0"
opentelemetry-jaeger = "0.17.0"
percent-encoding = "2.2.0"
regex = "1.7.0"
reqwest= { version = "0.11.13", default-features = false, features = ["blocking", "json"] }
serde= "1.0.150"
serde_json= "1.0.89"
serde_yaml = "0.9.14"
tokio = { version = "1.23.0", features = ["full"] }
toml = "0.7.2"
tracing = { version = "0.1.37", features = ["max_level_trace", "release_max_level_trace"] }
tracing-futures = "0.2.5"
tracing-opentelemetry = "0.18.0"
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }
unindent = "0.1.10"
url = "2.3.1"
uuid = { version = "1.2.2", features = ["v4"] }
josh-rpc = { path = "../josh-rpc" }
tokio-util = "0.7.4"
tempdir = "0.3.7"

[dependencies.juniper]
version = "0.15.10"
default-features = false
features = ["expose-test-schema"]

[dependencies.git2]
default-features = false
version = "0.15.0"
