[package]
authors = ["Christian Schilling <christian.schilling@esrlabs.com>"]
description = "GIT virtualization proxy"
edition = "2018"
keywords = ["git", "monorepo", "workflow", "scm"]
license-file = "LICENSE"
name = "josh-proxy"
readme = "README.md"
repository = "https://github.com/esrlabs/josh"
version = "0.3.0"

[dependencies]
bincode = "*"
clap = "2"
futures = "0.1"
futures-cpupool = "0.1"
git2 = {version = "0.13", default-features = false}
hyper = "0.11"
josh = {path = "../"}
lazy_static = "1.2"
log = "0.4"
pest= "2.1"
pest_derive = "2.1"
rand= "0.6"
regex = "1.1"
reqwest= {version = "0.9", default-features = false, features = ["hyper-011"]}
ring = "0.14"
rs_tracing= { version = "1.0", features = ["rs_tracing"]}
rust-crypto = "0.2"
serde = "*"
serde_json= "1.0"
structopt = "0.3"
tempfile = "*"
tokio-core = "0.1"
tokio-io = "0.1"
tokio-process = "0.2"
toml = "*"
tracing = { version = "*", features = ["max_level_debug", "release_max_level_info"] }
tracing-futures = "*"
tracing-log = "*"
tracing-subscriber = "0.2.0-alpha.4"
uuid = "*"
