
[package]
authors = ["Christian Schilling <christian.schilling@esrlabs.com>"]
description = "GIT virtualization proxy"
edition = "2018"
keywords = ["git", "monorepo", "workflow", "scm"]
license-file = "LICENSE"
name = "josh-proxy"
readme = "README.md"
repository = "https://github.com/josh-project/josh"
version = "0.3.0"


[dependencies]
clap = "2.33.3"
futures = "0.3.17"
tokio = { version = "1.8.1", features = ["full"] }
hyper = { version = "0.14.14", features = ["stream"] }
hyper_cgi = "0.2.1"
hyper-staticfile = "0.8.0"
hyper-tls = "0.5.0"
toml = "0.5.8"
git2 = "0.13.23"
tracing = { version = "0.1.29", features = ["max_level_trace", "release_max_level_trace"] }
tracing-futures = "0.2.5"
tracing-subscriber = "0.2.25"
tracing-opentelemetry = "0.16.0"
opentelemetry = "0.16.0"
opentelemetry-jaeger = "0.15.0"
reqwest= { version = "0.11.6", default-features = false, features = ["blocking", "json"] }
uuid = { version = "0.8.2", features = ["v4"] }
base64 = "0.13.0"
regex = "1.5.4"
lazy_static = "1.4.0"
josh = {path = "../"}
serde_json= "1.0.68"
serde= "1.0.130"
rust-crypto = "0.2.36"
unindent = "0.1.7"
juniper = { version = "0.15.7", features = ["expose-test-schema"] }
url = "2.2.2"
percent-encoding = "2.1.0"
