**

!Cargo.lock
!Cargo.toml
!axum-cgi
!axum-cgi-server
!hyper-reverse-proxy
!josh-core
!josh-cli
!josh-filter
!josh-proxy
!josh-rpc
!josh-ssh-shell
!josh-templates
!josh-graphql
!josh-link
!josh-mq
!josh-ui/*.json
!josh-ui/*.rs
!josh-ui/*.toml
!josh-ui/*.html
!josh-ui/*.js
!josh-ui/*.mjs
!josh-ui/public
!josh-ui/src
!lfs-test-server
!run-josh.sh
!docker/
