[package]
name = "josh"
version = "22.4.15"
repository = "https://github.com/josh-project/josh"
authors = ["Christian Schilling <initcrash@gmail.com>"]
license-file = "LICENSE"
description = "GIT virtualization proxy"
keywords = ["git", "monorepo", "workflow", "scm"]
readme = "README.md"
edition = "2018"

[features]
search = []
experimental = ["search"]

[workspace]
members = ["josh-proxy", "josh-ui", "."]

[dependencies]
bincode = "1.3"
bitvec = "1.0"
chrono = "0.4"
clap = "3"
defer= "0.1"
env_logger = "0.9"
git2 = {version = "0.14", default-features = false}
glob = "0.3"
handlebars = "4.3"
hex = "0.4"
hyper-reverse-proxy = "0.5.1"
indoc = "1.0.6"
juniper = "0.15"
lazy_static = "1.4"
log = "0.4"
percent-encoding = "2.1"
pest= "2.1"
pest_derive = "2.1"
rayon = "1.5"
regex = "1.5"
rs_tracing= { version = "1", features = ["rs_tracing"]}
serde = {version = "1.0", features = ["derive"]}
serde_json= "1.0"
serde_yaml = "0.8"
sled = "0.34"
strfmt = "0.1"
toml= "0.5"
tracing = "0.1"
tracing-log = "0.1"
tracing-subscriber = "0.3.12"

[profile.release]
lto = true
opt-level = 3
codegen-units = 1

