[package]
name = "josh"
version = "0.3.0"
repository = "https://github.com/josh-project/josh"
authors = ["Christian Schilling <initcrash@gmail.com>"]
license-file = "LICENSE"
description = "GIT virtualization proxy"
keywords = ["git", "monorepo", "workflow", "scm"]
readme = "README.md"
edition = "2018"

[workspace]
members = ["josh-proxy", "josh-ui", "."]

[dependencies]
handlebars = "4.1"
git2 = {version = "0.13", default-features = false}
clap = "2"
tracing = "0.1"
bincode = "1.3"
percent-encoding = "2.1"
serde = {version = "1.0", features = ["derive"]}
regex = "1.5"
lazy_static = "1.4"
pest_derive = "2.1"
pest= "2.1"
toml= "0.5"
defer= "0.1"
glob = "0.3"
sled = "0.34"
log = "0.4"
chrono = "0.4"
env_logger = "0.9"
strfmt = "0.1"
serde_json= "1.0"
serde_yaml = "0.8"
rs_tracing= { version = "1", features = ["rs_tracing"]}
tracing-log = "0.1"
juniper = "0.15"
tracing-subscriber = "0.2.22"

[profile.release]
lto = true
opt-level = 3
codegen-units = 1

