[package]
name = "josh"
version = "22.4.15"
repository = "https://github.com/josh-project/josh"
authors = ["Christian Schilling <initcrash@gmail.com>"]
license-file = "LICENSE"
description = "GIT virtualization proxy"
keywords = ["git", "monorepo", "workflow", "scm"]
readme = "README.md"
edition = "2018"

[features]
search = []
experimental = ["search"]

[workspace]
members = ["josh-proxy", "josh-ui", "josh-ssh-shell", "josh-rpc", ".", "hyper_cgi"]

[dependencies]
backtrace = "0.3.66"
bincode = "1.3.3"
bitvec = "1.0.1"
chrono = "0.4.22"
clap = "4.0.18"
defer= "0.1.0"
env_logger = "0.9.1"
git-version = "0.3.5"
git2 = { version = "0.15.0", default-features = false }
glob = "0.3.0"
handlebars = "4.3.5"
hex = "0.4.3"
hyper-reverse-proxy = "0.5.1"
indoc = "1.0.7"
itertools = "0.9"
juniper = "0.15.10"
lazy_static = "1.4.0"
log = "0.4.17"
percent-encoding = "2.2.0"
pest= "2.5.0"
pest_derive = "2.4.0"
rayon = "1.5.3"
regex = "1.6.0"
rs_tracing= { version = "1.0.1", features = ["rs_tracing"] }
serde = { version = "1.0.147", features = ["derive"] }
serde_json= "1.0.87"
serde_yaml = "0.9.14"
sled = "0.34.7"
strfmt = "0.2.2"
tokio-util = "0.7.4"
toml= "0.5.9"
tracing = "0.1.37"
tracing-log = "0.1.3"
tracing-subscriber = "0.3.16"

[profile.release]
lto = true
opt-level = 3
codegen-units = 1

