[workspace]
resolver = "2"
members = [
    "axum-cgi",
    "axum-cgi-server",
    "hyper-reverse-proxy",
    "josh-core",
    "josh-cli",
    "josh-graphql",
    "josh-proxy",
    "josh-rpc",
    "josh-ssh-shell",
    "josh-templates",
    "josh-ui",
]

[profile.release]
lto = true
opt-level = 3
codegen-units = 1

[workspace.dependencies]
anyhow = "1.0"
base64 = "0.22.1"
defer = "0.2.1"
env_logger = "0.11.5"
log = "0.4.29"
futures = "0.3.31"
gix = { version = "0.77.0", default-features = false }
gix-actor = "^0"
gix-hash = "^0"
gix-object = "0.54.0"
gix-config = "0.50.0"
gix-submodule = "0.24.0"
hyper-reverse-proxy = { path = "hyper-reverse-proxy", version = "0.0.1" }
libc = "0.2.180"
regex = "1.12.2"
rs_tracing = { version = "1.1.0", features = ["rs_tracing"] }
serde = { version = "1.0.228", features = ["std", "derive"] }
serde_json = "1.0.149"
serde_yaml = "0.9.34"
toml = "0.9.11"
tracing-subscriber = { version = "0.3.22", features = ["env-filter"] }
tempfile = "3.24.0"
hex = "0.4.3"

[workspace.dependencies.git2]
default-features = false
features = ["vendored-libgit2"]
version = "0.20.3"

[workspace.dependencies.juniper]
version = "0.17.0"
default-features = false
features = ["expose-test-schema"]

[workspace.dependencies.tokio]
version = "1.49.0"
features = [
    "fs",
    "rt-multi-thread",
    "macros",
    "io-std",
    "io-util",
    "net",
    "process",
    "signal",
]

[workspace.dependencies.tokio-util]
version = "0.7.18"
features = ["compat"]

[workspace.dependencies.reqwest]
version = "^0.12"
default-features = false
features = ["blocking", "default-tls", "json"]

[workspace.dependencies.tracing]
version = "0.1.44"
features = ["max_level_trace", "release_max_level_trace"]

[workspace.dependencies.clap]
version = "4.5.54"
features = ["derive", "help", "std", "usage"]
default-features = false

[workspace.dependencies.axum]
version = "^0.8"
features = ["macros"]

[workspace.dependencies.tower]
version = "0.5"
features = ["util"]

[workspace.dependencies.url]
version = "^2"
