[workspace]
resolver = "2"
members = [
    "hyper_cgi",
    "josh-core",
    "josh-filter",
    "josh-graphql",
    "josh-proxy",
    "josh-rpc",
    "josh-ssh-shell",
    "josh-templates",
    "josh-ui",
]

[profile.release]
lto = true
opt-level = 3
codegen-units = 1

[workspace.dependencies]
base64 = "0.22.1"
defer = "0.2.1"
env_logger = "0.11.5"
futures = "0.3.31"
gix = { version = "0.72.1", default-features = false }
hyper-reverse-proxy = "0.5.1"
lazy_static = "1.5.0"
libc = "0.2.167"
regex = "1.11.3"
rs_tracing = { version = "1.1.0", features = ["rs_tracing"] }
serde = { version = "1.0.226", features = ["std", "derive"] }
serde_json = "1.0.145"
serde_yaml = "0.9.34"
toml = "0.8.19"
tracing-subscriber = { version = "0.3.20", features = ["env-filter"] }
tempfile = "3.22.0"
hex = "0.4.3"

[workspace.dependencies.git2]
default-features = false
features = ["vendored-libgit2"]
version = "0.20.2"

[workspace.dependencies.juniper]
version = "0.16.2"
default-features = false
features = ["expose-test-schema"]

[workspace.dependencies.tokio]
version = "1.47.1"
features = [
    "fs",
    "rt-multi-thread",
    "macros",
    "io-std",
    "io-util",
    "net",
    "process",
    "signal",
]

[workspace.dependencies.tokio-util]
version = "0.7.16"
features = ["compat"]

[workspace.dependencies.reqwest]
version = "0.12.9"
default-features = false
features = ["blocking", "json"]

[workspace.dependencies.tracing]
version = "0.1.41"
features = ["max_level_trace", "release_max_level_trace"]

[workspace.dependencies.clap]
version = "4.5.48"
features = ["derive", "help", "std", "usage"]
default-features = false
