[package]
name = "josh"
version = "0.1.0"
authors = ["Christian Schilling <christian.schilling@esrlabs.com>"]
build = "build.rs"

[build-dependencies]
git-version = "*"

[dependencies]
git2 = "*"
clap = "2"
tempdir = "0.3.*"
log = "*"
fern = "*"
env_logger = "*"
regex = "*"
futures = "*"
tokio-core = "*"
tokio-process = "*"
tokio-io = "*"
ring = "*"
lazy_static = "*"
hyper = "0.11"
futures-cpupool = "*"
rust-crypto = "*"
pest_derive = "*"
pest= "*"
rand= "*"
serde_json= "*"
rs_tracing= { version = "*", features = ["rs_tracing"]}
reqwest= "*"

