$font-main: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono',
            'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
$font-emoji: 'Apple Color Emoji', 'Android Emoji', 'Segoe UI Emoji', 'Open Sans';

$color-background: #222222;
$color-background-highlight: #272727;
$color-font-normal: #dddddd;
$color-font-shadowed: #aaaaaa;
$color-font-highlight: #eeeeee;
$color-highlight: #88c5c5;
$color-highlight-complimentary: #cc7f3d;
$color-link: $color-font-normal;
$color-link-hover: #ffffaa;
$color-link-visited: $color-font-normal;
$color-link-visited-hover: #ffffaa;

@mixin ui-link-clickable {
  color: $color-link;
  cursor: pointer;

  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }

  &:visited {
    color: $color-link-visited;
  }

  &:visited:hover {
    color: $color-link-visited-hover;
  }
}

body {
  background: $color-background;
  font-family: $font-main;
  color: $color-font-normal;
  padding: 0;
  margin: 0;
}

section.file-browser-list {
  margin: 0;
}

nav {
  &.breadcrumbs {
    padding: .2em .5em;
    margin-bottom: 0.7em;
  }

  &> .breadcrumbs-entry {
    @include ui-link-clickable;
    color: $color-font-shadowed;

    &:last-child {
      color: $color-font-highlight;
    }
  }
}

.logo {
  img {
    display: inline-block;
    height: 40px;
  }

  margin: .3em 0 .7em;
  display: flex;
  flex-direction: row;

  span {
    align-self: center;
    font-size: 1.44em;
    height: 1em;
  }

  font-weight: bold;
  color: $color-highlight;
  text-transform: lowercase;
}

.now-browsing {
  display: flex;
  justify-content: space-between;
  padding: .2em .5em;
  margin-bottom: 0.7em;

  &-select {
    a {
      color: $color-font-shadowed;
      text-decoration: none;

      &:hover {
        color: $color-font-highlight;
      }
    }

    &:before {
      content: '// ';
      color: $color-font-shadowed;
    }
  }
}

.file-browser-list-entry {
  @include ui-link-clickable;
  padding: .4em .4em;

  &:hover {
    background: $color-background-highlight;
  }
}

.ui-button {
  $shadow-depth: 0.1em;

  padding: 0.4em 1em 0.3em;
  box-sizing: border-box;
  margin-top: $shadow-depth;

  text-transform: uppercase;
  font-family: $font-main;
  cursor: pointer;

  border: 1px solid $color-highlight-complimentary;
  box-shadow: $shadow-depth $shadow-depth 0 0 #94643b;
  transform: translate(-1 * $shadow-depth, -1 * $shadow-depth);

  background: #222;
  color: #e1e1e1;
}

.ui-button:hover {
  background: #333;
}

.ui-button:active {
  transform: none;
  box-shadow: none;
}

.ui-modal {
  width: 80%;
  max-width: 800px;
  display: block;
  box-sizing: border-box;
  padding: 1em;
  border: 2px solid $color-highlight-complimentary;
  background-color: #333;

  @media(max-width: 700px) {
    & {
      --width: calc(100% - 20px);
      width: var(--width);
      max-width: var(--width);
    }
  }

  &-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & h1, h2, h3, h4 {
    margin-top: 0.4em;
  }
}

.ui-input {
  box-sizing: border-box;
  font-family: $font-main;
  background: $color-background;
  color: #aaaaaa;
  border: 1px solid #555;
  outline: none;
  box-shadow: none;

  &:focus {
    background: none;
    border: 1px solid #555;
  }

  &:hover {
    background: none;
    border: 1px solid #555;
  }
}

.repo-selector  {
  &-hint {
    font-size: 0.8em;
    font-style: italic;
    margin: 0.7em 0;
  }

  &-button {
    float: right;
  }

  $font-size: 0.8em;

  &-status-label {
    font-size: $font-size;
  }

  &-input {
    flex-grow: 1;
    font-size: $font-size;
  }

  &-repo {
    margin-bottom: 0.7em;
    display: flex;
    align-items: baseline;
  }
}
