
    body {
        background-color: #222222;
        color: #dddddd;
        margin: 0px;

         font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
    }
    form {
        margin: 0px;
    }
    select {
         font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
         background-color: #222222;
         color: #aaaaaa;
         border: 0;
         background: none;
         box-shadow: none;
         border-radius: 0px;

         -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }

    input {
         font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
         background-color: #222222;
         color: #aaaaaa;
         border: 0;
         background: none;
         box-shadow: none;
         border-radius: 0px;
    }

    input:focus {
        background:none;
        outline: none;
        border:none;
    }

    input:hover {
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
    }

    select:focus {
        background:none;
        outline: none;
        border:none;
    }

    select:hover {
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
    }

    .column {
        width: 45%;
        max-width: 450px;
        float: left;
    }

    #repo {
        margin: 15px;
        margin-bottom: 0px;
        font-size: 2em;
        font-weight: bold;
        display: inline;
        color: #cc7f3d;
    }
    #filter {
        margin: 0.2em;
        font-size: 2em;
        font-weight: bold;
        color: #cc7f3d;
    }
    #filter a {
        color: #aaaaaa;;
        text-decoration: none;
    }
    #ref {
        margin-left: 15px;
        font-size: 1em;
        font-weight: bold;
        size: 20;
    }
    #filename {
        width:80%;
        color: #eeeeee;
        font-size: 16px;
        margin: 1em;
    }
    #breadcrumbs {
        margin: 1em;
        width:80%;
    }
    #breadcrumbs a {
        color: #aaaaaa;;
        text-decoration: none;
    }
    #breadcrumbs a:hover {
        background-color: #272727;
        color: #ffffaa;
        text-decoration: none;
    }
    #breadcrumbs a:last-child {
        color: #eeeeee;;
        text-decoration: none;
    }

    h2 {
        margin-bottom: 0px;
    }

    #codeview {
        z-index: -1;
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
    }

    #pathlist {
        margin: 1em;
    }

    .CodeMirror pre {
      z-index: -1;
    }

    tr.h {
        height: 3em;
        margin-top:0px;
    }

    tr.filemode {
        left: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
    }

    td {
        vertical-align: top;
    }

    #layouttable {
        height: 100%;
        width: 100%;
    }

    .marker {
        background-color: #f7ff7d;
        color: black;
        padding: 3px;
        padding-left: 8px;
        padding-right: 8px;
        font-weight: bold;
        margin: 7px;
        border-radius: 6px;
    }

    table.pathlist {
        width: 100%;
        margin: 1em;
        margin-top: 0.1em;
    }

    table.pathlist tr {
        padding: 3px;
        display: block;
        cursor: pointer;
    }

    table.pathlist a {
        text-decoration: none;
        color: #dddddd;;
    }

    table.pathlist tr:hover {
        background-color: #272727;
        color: #ffffaa;
    }

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(73,83,105, 0.2);
  border-right: 1.1em solid rgba(73,83,105, 0.2);
  border-bottom: 1.1em solid rgba(73,83,105, 0.2);
  border-left: 1.1em solid #495369;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


