

body {
    margin: 0px;
}

table {
  color: #ffffff;
  background-color: rgb(25, 25, 25);
  border-width: 0px;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
}

td {
  padding: 0px;
}

pre {
  margin: 0px;
  padding: 2px;
  padding-left: 10px;
}

.linenr {
  padding-right: 10px;
  text-align: right;
  color: rgb(70, 70, 70);
}

.addition td.code {
  background-color: rgb(104, 133, 99, 0.6);
}

.removal td.code {
  background-color: rgb(192, 107, 105, 0.6);
}
.debug td.code {
  background-color: rgb(0, 0, 0);
  color: #ffaaaa;
}
.comment td.code {
  background-color: rgb(230, 200, 130);
  color: #000000;
}
.head {
  background-color: #333333;
  color: #ffffff;
  font-weight: bold;
}
.note {
  color: #aaaaaa;
}
