name: go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.19.2'
      - name: Verify dependencies
        run: cd josh-ssh-dev-server && go mod verify
      - name: Build
        run: cd josh-ssh-dev-server && go build
