
name: Publish Docker image
on:
  release:
    types: [published]
  pull_request:
    types: [labeled]
jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'release' || (github.event_name == 'pull_request' && github.event.label.name == 'build-release-container') }}
    steps:
      - name: Setup BuildX
        uses: docker/setup-buildx-action@v2
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get tags
        run: git fetch --tags origin
      - name: Generate docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            joshproject/josh-proxy
          tags: |
            type=ref,event=tag
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: initcrash
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-contexts: |
            git=.git
            docker=docker
          target: run
          push: ${{ github.event_name == 'release' && 'true' || 'false' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
