name: rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '**' ]
  merge_group:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-D warnings"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Setup BuildX
      uses: docker/setup-buildx-action@v3
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Get tags
      run: git fetch --tags origin
    - name: Build dev image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        cache-from: type=gha
        cache-to: type=gha,mode=max
        target: dev-ci
        tags: josh-ci-dev:latest
        push: false
        load: true
    - name: Run tests
      uses: addnab/docker-run-action@v3
      with:
        image: josh-ci-dev:latest
        options: -v ${{ github.workspace }}:/github/workspace -w /github/workspace
        run: |
          set -e -x

          # Formatting
          cargo fmt -- --check

          # Unit tests
          cargo test --workspace --all

          # Integration tests
          cargo build --workspace --all-targets
          ( cd josh-ssh-dev-server ; go build -o "${CARGO_TARGET_DIR}/josh-ssh-dev-server" )
          sh run-tests.sh --verbose tests/filter/**.t
          sh run-tests.sh --verbose tests/proxy/**.t
          sh run-tests.sh --verbose tests/cli/**.t
          sh run-tests.sh --verbose tests/mq/**.t

    - name: Run tests (incubating)
      uses: addnab/docker-run-action@v3
      with:
        image: josh-ci-dev:latest
        options: -v ${{ github.workspace }}:/github/workspace -w /github/workspace
        run: |
          set -e -x

          # Formatting
          cargo fmt -- --check

          # Unit tests
          cargo test --workspace --all --features incubating

          # Integration tests
          cargo build --workspace --all-targets --features incubating
          ( cd josh-ssh-dev-server ; go build -o "${CARGO_TARGET_DIR}/josh-ssh-dev-server" )
          sh run-tests.sh --verbose tests/experimental/**.t
          sh run-tests.sh --verbose tests/filter/**.t
          sh run-tests.sh --verbose tests/proxy/**.t
          sh run-tests.sh --verbose tests/cli/**.t
