name: rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Setup BuildX
      uses: docker/setup-buildx-action@v1
    - name: Checkout
      uses: actions/checkout@v3
    - name: Build dev image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: Dockerfile
        cache-from: type=gha
        cache-to: type=gha,mode=max
        target: dev-ci
        tags: josh-ci-dev:latest
        push: false
        load: true
    - name: Run tests
      uses: addnab/docker-run-action@v3
      with:
        image: josh-ci-dev:latest
        options: -v ${{ github.workspace }}:/github/workspace -w /github/workspace
        run: |
          set -e -x

          # Formatting
          cargo fmt -- --check

          # Unit tests
          cargo test --workspace --all

          # Integration tests
          cargo build --workspace --all-targets
          sh run-tests.sh tests/filter/**.t
          sh run-tests.sh tests/proxy/**.t
